USERNAME_ADMIN="username"
PASSWORD_ADMIN="password"
TIMEOUT_IMAGE_INFORMATION=7000
NB_IMAGE_BEFORE_IMAGE_INFORMATION=0
IPSERVER="192.168.121.20"
BDD_HOST="localhost"
BDD_USER="root"
BDD_PASSWORD=""
BDD_NAME="photoparty"
HTTP_PORT="8080"
WS_PORT=""